.a1 {
    color: red;
    font-size: 50px;
    text-decoration: underline;
    background-color: black;
    color: white;
    padding-bottom:80px;
    padding-left:30px;
    text-transform: uppercase; 
    letter-spacing:30px;
    color:red;
    text-align:center;
    padding-top:20px;
    text-decoration: none;
}
