
@{
    ViewData["Title"] = "viewWelcome";
}
<link href="~/css/style.css" rel="stylesheet" />
<h1 class="a1">view1</h1>
<a asp-area=" " class="btn btn-outline-dark" asp-controller="Login" asp-action="FormLogin">go to Form LOGIN</a>
<a asp-area=" " class="btn btn-outline-success"asp-controller="Home" asp-action="Privacy">go to Form HOME </a>
<a asp-area=" " class="btn btn-outline-info" asp-controller="Menu" asp-action="Menu">go to Form Menu</a>

 